[Unit]
Description=XGC2 FS150 MAVLink router
Documentation=file:/usr/share/doc/xgc2-fs150-mavlink-router/README
Wants=network-online.target
After=network-online.target
Conflicts=mavlink-router.service fs150-mavlink-router.service startMavRoute.service

[Service]
Type=simple
ExecStart=/usr/bin/mavlink-routerd --syslog -c /etc/xgc2/fs150-mavlink-router/router.conf -d /etc/xgc2/fs150-mavlink-router/config.d
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
